@model swimming.Models.Swimming

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Swimming</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PoolName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PoolName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PoolLength)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PoolLength)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PoolLocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PoolLocation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PoolCapacity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PoolCapacity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PoolTimings)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PoolTimings)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PoolDays)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PoolDays)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PoolDays)
        </dt>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PoolDays)
        </dt>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PoolSize)
        </dt>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PoolSize)
        </dt>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PoolReviews)
        </dt>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PoolReviews)
        </dt>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
