@model swimming.Models.SwimmingPoolNameViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-controller="Swimming" asp-action="Search" method="get">
    <p>
        PoolName
        <select asp-for="SwimmingPoolName" asp-items="Model.PoolName">
            <option value="">All</option>
        </select>

        Entry Deadline: <input type="date" asp-for="EntryDeadline" />

        Pool Location: <input type="search" asp-for="SearchParamString" />

        Pool Size: <input type="search" asp-for="PoolSizeSearchNumber" />
        <input type="submit" value="Submit" />
    </p>
</form>
<form asp-controller="Swimming" asp-action="DeleteAll">
<table class="table">
    <thead>
        <tr>
            <th>
                Select
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Swimming[0].PoolName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Swimming[0].PoolLength)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Swimming[0].PoolLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Swimming[0].PoolCapacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Swimming[0].PoolTimings)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Swimming[0].PoolDays)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Swimming[0].PoolSize)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Swimming[0].EntryDeadline)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Swimming) {
        <tr>
            <td>
                <input type="checkbox" value="@item.Id" name="selectedSwimming">
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PoolName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PoolLength)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PoolLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PoolCapacity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PoolTimings)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PoolDays)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PoolSize)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EntryDeadline)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<input type="submit" value="DeleteAll" class="btn" />

</form>
