@model IEnumerable<swimming.Models.Swimming>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PoolName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PoolLength)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PoolLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PoolCapacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PoolTimings)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PoolDays)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PoolName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PoolLength)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PoolLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PoolCapacity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PoolTimings)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PoolDays)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
